/*basic*/

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #F0C929;
  font-weight:900;
}

b{
  font-weight:900px;
  font-size: 1.2em;
}

h1{
  font-family: 'KoHo', sans-serif;
  color:#F48B29;
  font-size: 2.2em;
  margin: 0;
}

.da-subtitle {
  color: #F0C929;
}

h2, h3 {
  font-family: 'KoHo', sans-serif;
  margin-bottom: 1.2em;
  color:#F0C929;
  font-size: 1.8em;
}

html {
  background-color: #FBE6C2;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1em;
  background-color:#FBE6C2;
  font-family:'Krub', sans-serif;
  max-width: 1400px;
  min-width: 360px;
  margin: auto;
}

main{
  margin-bottom: -5%;
}

ul {
  list-style: none;
  padding-left: 0;
}

.not-bold{
  font-weight: 500;
}

/*header*/

header {
  background-color: #F48B29;
}

.logo{
  border-radius: 50%;
  width: 130px;
  height: 130px;
  box-shadow: 2px 2px 4px black;  
}

.logo-txt {
  font-family: 'KoHo', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  color: #AC0D0D;
  line-height: 1.2em;
  text-shadow: 1px 1px 1px black;
}

.orange-line{
  width: 100%;
  height: 7px;
  background-color:#F48B29;
}

.red-line {
  width: 100%;
  height: 5px;
  background-color: #AC0D0D;
}

/*header menu*/

.nav-link {
  color: #AC0D0D;
  margin: 0.5em;
  padding: 0.5em;
  font-family: 'KoHo', sans-serif;
  font-size: 1.2em;
  text-shadow: 0.2px 0.2px 0px black;
}

.nav-link:hover{
  color:#F0C929
}

.fa-bars {
  color: #AC0D0D;
  background-color: #F48B29;
}

.navbar-toggler{
  box-shadow: -0.5px -0.5px #AC0D0D, 0.5px 0.5px #AC0D0D; 
}

.nav-items{
  justify-content: end;
}

.nav-items .active {
  color:#F0C929;
}

/*main*/

.up-btn{
  border: none;
  width:40px;
  height: 40px;
  position: fixed;
  bottom:15px;
  right:15px;
  background: linear-gradient(#AC0D0D, #F48B29);
  box-shadow: 1px 1px 4px black;
  border-radius: 50%;
  z-index: 10;
}


section {
  margin-bottom: 5%;
  background-image: url('resources/decor.png');
  background-position: right;
}

.section-break{
  display:none;
}

.absolute-img-1 {
  position:absolute;
  top: 50%;
  left: 15%;
  width: 85%;
  z-index: 1;
  border-radius: 50% 0 0 0;
  box-shadow: 2px 2px 4px black;
}

.absolute-img-2 {
  position: absolute;
  left: 40%;
  width: 60%;
}

.img-1 {
  width: 40%;
  box-shadow: 2px 2px 4px black;
}

.dual-img{
  position: relative;
  margin: 1%;
}

.presentation-img {
  display: block;
  margin: auto;
  border-radius: 50% 50% 0 0;
  width: 60%;
  box-shadow:2px 2px 4px black;
}

.fond {
  padding: 2%;
  background-image: url('resources/fond.png');
  background-size: cover;
  box-shadow: 2px 2px 4px black;
}

.director-image{
  width:100%;
  box-shadow: 2px 2px 4px black;
}

.top-margin {
  margin-top: 38%;
}

.text-block {
  font-size: 1em;
  font-weight:400;
  line-height: 1.7em;
  background-color: #AC0D0D;
  color:#FBE6C2;
  margin-bottom: 5%;
  padding: 5% 2.5%;
  box-shadow: 2px 2px 4px black;
  text-align: left;
}

.map{
  display: none;
}
/*Main---Nos cours et atéliers*/

/*.text-block{
  border-radius: 10px;
}*/

.smaller-h1{
  font-size: 1.8em;
}

.title-img{
  box-shadow: 2px 2px 4px black;
  width: 100%;
}

.classes-img{
  box-shadow: 2px 2px 4px black;
  width: 100%;
  margin-bottom: 4%;
}

.classes-title{
 font-size: 1.5em;
}

.classes-price{
   font-family: 'KoHo', sans-serif;
  font-size: 1.1em;
  font-weight: 600;
  text-decoration: underline;
}

.classes-img{
  width: 100%;
}

/*footer*/

footer{
  background:#F48B29;
  margin: 0;
  padding: 1%;
}
.socials{
  display: flex;
  justify-content: center;
}

.socials>.social-link{
  color:#AC0D0D;
  margin: 2%;
  padding:1%;
}

.copyright{
  text-align: center;
  color: #AC0D0D;
  margin: 2%;
  padding: 1%;
  font-size: 0.9em;
}



/*media queries*/

@media screen and (min-width: 768px) {
  body{
    background: linear-gradient(#F48B29 7%, #AC0D0D 7% 7.1%, #F0C929 7.1% 7.25%, #AC0D0D 7.25%);
    position:relative;
  }

  /*header&menu*/

  a{
    color:#AC0D0D;
  }
  header{
    z-index: -1;
  }
  .logo, .logo-txt,.navbar-toggler,.navbar-collapse{
    z-index: 1;
  }
  .logo{
    width: 150px;
    height: 150px
 }
 .logo-txt{
   font-size: 2em;
   text-shadow: 2px 2px 1px black;
 }
  .red-line{
    display:none;
  }
  .orange-line{
    display:none;
  }

  /*main*/

    main{
    width: 90%;
    margin:auto;
    /*background:#AC0D0D;
    border-radius: 15px;
    box-shadow: 2px 2px 4px black;*/
    height: 120%;
    position: relative;
    bottom: 70px;
  }
  h1,h2{
    color: #AC0D0D;
  }
  section{
    background: #FBE6C2;
    margin: unset;
    display: flex;
    justify-content: space-between;
    padding: 3%;
    font-size: 1.2em;
    box-shadow: 2px 2px 4px black;
    border-radius: 15px;
  }
  .title-block{
    background-image: url('resources/decor.png');
    background-position: left;
  }
  .large-bottom-padding{
    padding-bottom: 15%;
  }
  .section-break{
    font-size: 2em;
    display:flex;
    width:90px;
    height:40px;
    margin: auto;
    margin-top:1%;
    margin-bottom:1%;
  }

  .title-block>.md-text-block{
    order:2;
    flex:2;
    font-size: 1.2em;
    padding: 5% 0 0 5%;
    margin: 7% 0 0 5%;
  }

  .da-subtitle{
    color:#F48B29
  }
  .text-block{
    background:unset;
    box-shadow: unset;
    font-weight: 500;
    line-height: 2em;
    color: #682C0E;
    margin: unset;
    padding:2% 1%
  }
  .presentation-text-block{
    flex:2;
  }
  .objectifs{
    flex-direction: column;
  }
  .title-dual-img{
    order:1;
    flex:3;
    margin-top: 7%;
    margin-left: unset;
    max-width: 600px;
  }
  .img-1{
    position: relative;
    width:50%;
    z-index:1;
  }
  .absolute-img-1{
    width:100%;
    top:40%;
    left:5%;
  }
  .top-margin{
    margin:unset;
  }
  .fond{
    align-self: stretch;
    flex:2;
    display: flex;
    border-radius: 40% 0;
    margin-left: 1%;
  }
  .presentation-img{
    min-width: 230px;
  }
  ul>br{
    display: none;
  }
  .objectifs-image>.img-1{
  width: 30%;
  }
  .objectifs-image>.absolute-img-1{
    position:static;
    width:65%;
    border-radius: 0;
  }
  .objectifs-image{
    margin:0;
    display:flex;
    justify-content: space-between;
    z-index: 1;
  }
  .objectifs-image>.absolute-img-2{
    display: block;
    position: absolute;
    left: 18.5%;
    width:49%;
    z-index: 0;
  }

  .director{
    flex-direction: column;
  }

  .director-text-block{
    order:2;
  }

  .director-image{
    display: none;
  }

  .director-img{
    order:1;
    background-image: url('resources/directeur.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -70px;
    height: 300px;
  }
  .map{
    display: block;
    align-self:baseline;
  }

/*footer*/

  .socials>.social-link{
    font-size: x-large;
  }

  .yellow-line{
    display: block;
    background-color: #F0C929;
    height: 6px;
  }
  .md-red-line{
    display: block;
    height: 6px;
  }

  
}
